body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* .button-App {
  margin-bottom: 20px;
} */

/* .modal-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */